@using CardGame.Data
@using Sandbox.UI

@inherits Panel
@namespace CardGame.UI

@if ( !HandComponent.IsValid() )
{
	return;
}

<root>
	@foreach ( var card in HandComponent.Hand )
	{
		<CardPanel Card="@card" class="@(SelectedCard == card ? "selected" : "") @(SelectedCards.Contains( card ) ? "selected" : "")" onclick="@(() => SelectCard( card ))"></CardPanel>
		
		if ( card.Keywords.Any() )
		{
			<div class="keywords hidden">
				@foreach ( var k in card.Keywords )
				{
					var keyword = KeywordLookup.FindKeyword( k );
					if ( keyword is not null )
					{
						<div class="keyword">
							<label class="keyword-name">@keyword.Name</label>
							<label class="keyword-description">@keyword.Description</label>
						</div>
					}
				}
			</div>
		}
	}
	
	@if ( HandComponent.IsDiscardMode )
	{
		<div class="discard-mode">
			<button onclick="@ConfirmDiscard">Discard</button>
		</div>
	}
</root>
