@using Sandbox.UI

@inherits Panel
@namespace CardGame.UI

@if ( Relic is null )
{
	return;
}

<root>
	<div class="main">
		<h1>Relic Obtained</h1>
		<div class="relic-info">
			<img class="relic-icon" src="@Relic.Icon"/>
			<label class="relic-name">@Relic.Name</label>
			<label class="relic-description">@Relic.Description</label>
			<div class="relic-flavortexts">
				@foreach ( var flavor in Relic.Flavor )
				{
					<label class="relic-flavor">@flavor</label>
				}
			</div>
		</div>
		<div class="button-container">
			<button onclick="@Close">Close</button>
		</div>
	</div>
</root>
