@using Sandbox.UI
@using CardGame.Data

@namespace CardGame.UI
@inherits Panel

@if ( Rewards is null )
{
	return;
}

<root>
	@foreach ( var relicId in Rewards.Relics )
	{
		var relic = RelicDataList.GetById( relicId );
		if ( relic is not null )
		{
			<div class="reward" onclick="@( () => ClaimReward( RewardType.Relic ) )">
				<label class="relic-name">@relic.Name</label>
			</div>
		}
	}
	
	@foreach ( var cardId in Rewards.Cards )
	{
		var card = CardDataList.GetById( cardId );
		if ( card is not null )
		{
			<div class="reward" onclick="@( () => ClaimReward( RewardType.Card ) )">
				<label class="card-name">@card.Name</label>
			</div>
		}
	}
	
	@foreach ( var cardPackId in Rewards.CardPacks )
	{
		var cardPack = CardPackDataList.GetById( cardPackId );
		if ( cardPack is not null )
		{
			<div class="reward" onclick="@( () => ClaimReward( RewardType.CardPack ) )">
				<label class="pack-name">@cardPack.Name</label>
			</div>
		}
	}
	
	@if ( Rewards.Money > 0 )
	{
		<div class="reward" onclick="@( () => ClaimReward( RewardType.Money ) )">
			<label class="money">@Rewards.Money</label>
		</div>
	}
</root>
