@using System
@using Sandbox.UI

@inherits Panel
@namespace CardGame.UI

<root>
	<label class="title">Card Packs</label>
	<div class="cards">
		@foreach ( var item in CardPacks.OrderBy( x => x.Pack!.Rarity ).ThenBy( x => x.Cost ) )
		{
			var purchased = item == LastPurchasedItem ? "purchased" : "";
			<div class="shop-item @( CanBuyCardPack( item ) ? "" : "cant-afford" ) @( purchased )">
				<CardPackPanel Pack="@item.Pack" onclick="@( () => BuyCardPack( item ) )"></CardPackPanel>
				<label class="cost">@( item.Cost )g</label>
			</div>
		}
	</div>

	<label class="title">Relics</label>
	<div class="relics">
		@foreach ( var item in Relics.OrderBy( x => x.Relic!.Rarity ).ThenBy( x => x.Cost ) )
		{
			var purchased = item.Relic == LastPurchasedItem ? "purchased" : "";
			<div class="shop-item @( CanBuyRelic( item ) ? "" : "cant-afford" ) @( purchased )">
				<RelicPanel Relic="@item.Relic" onclick="@( () => BuyRelic( item ) )"></RelicPanel>
				<label class="cost">@( item.Cost )g</label>
			</div>
		}
	</div>

	<div class="button-container">
		<button class="@( CanReroll() ? "" : "disabled" )" onclick="@Reroll">Reroll (@( RerollCost )g)</button>
		<div class="row">
			<button class="@( CanRerollByKeyword() ? "" : "disabled" )" onclick="@OpenRerollKeywordMenu">Reroll By
				Keyword (@( RerollKeywordCost )g)
			</button>
			<button class="@( CanRerollByType() ? "" : "disabled" )" onclick="@OpenTypeSelection">Reroll By Type
				(@( RerollKeywordCost )g)
			</button>
		</div>
		<button class="@( CanHeal() ? "" : "disabled" )" onclick="@Heal">Heal (@( HealCost )g)</button>
		<button onclick="@OpenTradeMenu">Trade</button>
		<button onclick="@Close">Close</button>
	</div>
	
	<div class="trade-menu hidden" @ref="_tradeMenu">
		<label class="title">Trade</label>
		<div class="relics">
			@foreach ( var relic in RelicManager.Instance?.Relics ?? [] )
			{
				<RelicPanel class="@(_selectedRelicsForTradeIn.Contains( relic.Data.Id ) ? "trade" : "")" Relic="@relic.Data" onclick="@(() => ToggleRelicSelection( relic.Data.Id ))"></RelicPanel>
			}
		</div>
		<div class="button-container">
			<button onclick="@CompleteTradeIn">Trade</button>
			<button onclick="@HideTradeMenu">Close</button>
		</div>
	</div>
	

	<div class="keyword-reroll-selection selection hidden" @ref="_keywordSelection">
		<label class="title">Reroll By Keyword</label>
		<div class="keywords">
			@foreach ( var t in _keywords )
			{
				<button onclick="@( () => RerollByKeyword( t ) )">@t</button>
			}
			<button onclick="@HideRerollKeywordMenu">Close</button>
		</div>
	</div>

	<div class="type-reroll-selection selection hidden" @ref="_typeSelection">
		<label class="title">Reroll By Card Type</label>
		<div class="keywords">
			@foreach ( var t in Enum.GetValues<Card.CardType>() )
			{
				<button onclick="@( () => RerollByType( t ) )">@t</button>
			}
			<button onclick="@HideTypeSelection">Close</button>
		</div>
	</div>
</root>
