@using Sandbox.UI
@using CardGame.Data

@inherits Panel
@namespace CardGame.UI

@if ( !Unit.IsValid() )
{
	return;
}

<root>
	<div class="main">
		<div class="stats">
			<div class="row">
				<label class="unit-name">@Unit.Name</label>
				<label class="unit-level">Lv.@Unit.Level</label>
			</div>

			<div class="health-bar">
				<div class="inner-bar" style=""></div>
			</div>
		</div>
		<h1>Deck</h1>
		<div class="deck">
			@if ( Unit.HandComponent.IsValid() )
			{
				var data = Unit.Data;
				var hasData = data is not null;

				if ( hasData )
				{
					foreach ( var cardId in data?.Deck ?? [] )
					{
						<CardPanel Card="@CardDataList.GetById( cardId )"></CardPanel>
					}
				}
			}
		</div>
		<h1>Passive Abilities</h1>
		<div class="passives">
			@if ( Unit.Passives.IsValid() )
			{
				foreach ( var passive in Unit.Passives )
				{
					<div class="passive-ability">
						<label class="passive-name">@passive.Name</label>
						<label class="passive-description">@passive.Description</label>
					</div>
				}
			}
		</div>
		
		<div class="button-container">
			<button onclick="@Click">Close</button>
		</div>
	</div>
</root>
