@using Sandbox.UI
@using CardGame.Data

@inherits Panel
@namespace CardGame.UI

@{
	var unit = GetUnitData();
}

<root>
	<div class="main">
		@if ( BattleUnit is not null )
		{
			<div class="unit-stats">
				@if ( unit is not null )
				{
					<div class="row">
						<label class="unit-name">@( unit.Name )</label>
						<label class="unit-level">Lv.@( BattleUnit.BaseLevel )</label>
					</div>
					
					@if ( !string.IsNullOrEmpty( unit.Description ) )
					{
						<label class="unit-description">@(unit.Description)</label>
					}

					<div class="health-bar">
						<div class="inner-bar" style="width: @( unit.Hp / unit.Hp * 100 )%"></div>
					</div>

					<div class="mana-bar">
						<div class="inner-bar" style="width: @( unit.Mp / unit.Mp * 100 )%"></div>
					</div>

					<div class="row">
						<label class="health">@( unit.Hp )/@( unit.Hp )</label>
						<label class="mana">@( unit.Mp )/@( unit.Mp )</label>
					</div>
					
					<div class="misc-stats">
						<label class="speed">Speed: @( unit.Speed.Min )-@( unit.Speed.Max )</label>
						<label class="slots">Slots: @( unit.Slots )</label>
					</div>
				}
			</div>
		}

		@if ( unit is not null )
		{
			<div class="tab-selection">
				<button class="@( unit.Deck.Any() ? "" : "disabled" ) @( SelectedTab?.Id == "deck" ? "disabled" : "" )" onclick="@( () => ChangeTabs( "deck" ) )">Deck</button>
				<button class="@( unit.Passives.Any() ? "" : "disabled" ) @( SelectedTab?.Id == "passives" ? "disabled" : "" )" onclick="@( () => ChangeTabs( "passives" ) )">Passives</button>
			</div>
		}

		<div class="tabs" @ref=" _tabContainer">
			<div class="tab unit-deck hidden" id="deck">
				@if ( unit is not null )
				{
					foreach ( var cardId in unit.Deck )
					{
						var card = CardDataList.GetById( cardId );
						if ( card is not null )
						{
							<CardPanel Card="@card"></CardPanel>
						}
					}
				}
			</div>

			<div class="tab unit-passives hidden" id="passives">
				@if ( unit is not null )
				{
					foreach ( var passiveId in unit.Passives )
					{
						var passive = PassiveAbilityDataList.GetById( passiveId );
						if ( passive is not null )
						{
							<PassiveAbilityPanel Passive="@passive"></PassiveAbilityPanel>
						}
					}
				}
			</div>
		</div>

		<div class="button-container">
			<button onclick="@Close">Close</button>
		</div>
	</div>
</root>
