@using Sandbox.UI

@inherits Panel
@namespace CardGame.UI

@if ( Unit is null )
{
	return;
}

<root>
	<div class="row">
		<label class="unit-name">@( Unit.Name )</label>
		<label class="unit-level">Lv.@( Unit.Level )</label>
	</div>

	<div class="health-bar">
		<div class="inner-bar" style="width: @( Unit.Hp / Unit.Hp * 100 )%"></div>
	</div>

	<div class="mana-bar">
		<div class="inner-bar" style="width: @( Unit.Mp / Unit.Mp * 100 )%"></div>
	</div>

	<div class="row">
		<label class="health">@( Unit.Hp )/@( Unit.Hp )</label>
		<label class="mana">@( Unit.Mp )/@( Unit.Mp )</label>
	</div>

	<div class="button-container">
		<button>Close</button>
	</div>
</root>
