@inherits PanelComponent
@namespace CardGame.UI.Map

<root>
	<div class="header">
		<div class="player-bar">
			@{
				var player = Player.Local;
				if ( player.IsValid() )
				{
					<label class="player-name">@( Connection.Local.DisplayName )</label>
					@{
						var unit = player.Unit;
						if ( unit is not null )
						{
							<div class="health">
								<label class="health-value">@( unit.Hp )hp</label>
								<div class="health-bar">
									<div class="inner-bar" style="width: @( (float)unit.Hp / unit.MaxHp * 100 )%"></div>
								</div>
							</div>
						}
					}
					<label class="player-money">@(player.Money)g</label>
				}
			}
		</div>
	</div>
	<label class="floor">Floor @( GameManager?.Floor )</label>
	
	<div class="map-container">
		<div class="map" @ref="Map"></div>
	</div>

	<RelicContainer></RelicContainer>
	<RelicGainPanel class="hidden" @ref="RelicGainPanel"></RelicGainPanel>
	<EventPanel class="hidden" @ref="EventPanel"></EventPanel>
</root>
