@using CardGame.Data

@inherits MenuSubPanel
@namespace CardGame.UI

<root>
	<div class="main">
		<h1>Select A Class</h1>

		<div class="row">
			<div class="class-selection">
				@foreach ( var playerClass in PlayerClasses )
				{
					var isSelected = SelectedClass == playerClass;
					<button class="@( isSelected ? "disabled" : "" ) @(playerClass.IsUnlocked ? "" : "disabled")" onclick="@( () => SelectClass( playerClass ) )">@playerClass.Name</button>
				}
			</div>

			<div class="class-info">
				@if ( SelectedClass is not null )
				{
					var unitData = UnitDataList.GetById( SelectedClass.Unit );

					if ( unitData is not null )
					{
						<div class="class-data">
							<h2 class="class-name">@SelectedClass.Name</h2>
							<p class="class-description">@SelectedClass.Description</p>
							<div class="row">
								<label class="class-health">Hp: @(unitData.Hp)</label>
								<label class="class-mana">Mp: @(unitData.Mp)</label>
								<label class="class-speed">Speed: @(unitData.Speed.Min)~@(unitData.Speed.Max)</label>
							</div>
						</div>
						
						<div class="class-collection">
							<h2>Deck</h2>
							<div class="class-deck collection">
								@foreach ( var cardId in unitData.Deck )
								{
									var card = CardDataList.GetById( cardId );
									if ( card is null )
									{
										continue;
									}

									<CardPanel Card="@card"></CardPanel>
								}
							</div>

							@if ( SelectedClass.Relics.Any() )
							{
								<h2>Relics</h2>
								<div class="class-relics collection">
									@foreach ( var relicId in SelectedClass.Relics )
									{
										var relic = RelicDataList.GetById( relicId );
										if ( relic is null )
										{
											continue;
										}

										<RelicPanel Relic="@relic"></RelicPanel>
									}
								</div>
							}
						</div>
					}
				}
			</div>
		</div>

		<div class="button-container">
			<button class="@(SelectedClass is null ? "disabled" : "")" onclick="@StartRun">Start Run</button>
			<button onclick="@Close">Close</button>
		</div>
	</div>
</root>
